<%- include("partials/header.ejs") %>

<h1>About Bloggggger...</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto repellat quaerat doloribus non ut, soluta culpa laboriosam ipsam minima, voluptates dolor deserunt veritatis maiores, nesciunt necessitatibus dolorem molestias. Consectetur, aliquid?</p>


<%- include("partials/footer.ejs") %>
